<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @goalsheet.time %>
</p>

<% if @goalsheet.tasks.any? %>
	<ul>
 		<% @goalsheet.tasks.each do |task| %>
		<li>
			<%= task.status %>
			<%= task.description %>
			<%= task.comments %>
		</li>
		 <% end %>
	</ul>
<% else %>
	<p>No goals available.</p>
<% end %>


<%= link_to 'Edit', edit_goalsheet_path(@goalsheet) %> |
<%= link_to 'Back', goalsheets_path %>
